.map-container {
    width: 100%;
    height: 400px; /* Adjust height as needed */
  }

  .header-container {
    display:flex;
    justify-content: center;
  }

  .calendar-container {
    display: flex;
    justify-content: center;
  }

  .map-container {
    display: flex;
    /* align-items: cennter; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
